/* xyz-foundation/app/styles/classes.css */

.foundation-app-nav {
  margin: 3em;
}

.foundation-nav {
  align-self: center;
  margin: 5rem 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.foundation-nav .foundation-nav-item {
  align-self: center;
  list-style: none;
}

.foundation-nav .foundation-nav-item a {
  margin: 0 1em;
}
