/* xyz-foundation/app/styles/elements.css */

html, body, main,
.ember-application > .ember-view {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  line-height: 1.42857143;
  color: var(--mainColor);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

main {
  display: block;
  box-sizing: border-box;
  min-height: 320px;
  text-align: center;
}
