<main class="container">
  <section class="foundation-app-nav u-align-center">
    <h1>QUAUQ</h1>
    <ul class="foundation-nav">
      <li class="foundation-nav-item"><a href="/hotels">Hotels</a></li>
      <li class="foundation-nav-item"><a href="/flights">Flights</a></li>
      <li class="foundation-nav-item"><a href="/cars">Cars</a></li>
      <li class="foundation-nav-item"><a href="/trips">Trips</a></li>
    </ul>
    {{outlet}}
  </section>
</main>
